@import '../../styles/index.scss';

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        padding: 0;
    }
}

// .counter p {
//     padding: 0;
// }

.container {
    font-weight: normal;
    background-color:khaki;
}

.containerQuantity0{
    background-color: #D0D0D0;
}