//colors
<<<<<<< HEAD
$primary-text-color-dark:white;
$primary-background-color-dark:grey;
$primary-text-color-light:black;
$primary-background-color-light:white;

//breakpoints
$mobile-breakpoint:30rem;
$ipad-breakpoint:48rem;
$laptop-breakpoint:72rem;

@mixin media-mixin($width){
    @media (max-width: $width){
        @content;
    }
}

=======
$primary-text-color: white;
$primary-background-color:pink;

//breakpoints
>>>>>>> bc8dc9e8f7f0370b743c10d016316002aa8014ea

@mixin custom-mixin {
    background-color: yellow;
}
