@import '../../styles/index.scss';

.categories{
    // display: flex;
}

.productCard{
    border: 0.125rem solid lightgray;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0rem 0rem 0.25rem #9a9a9a;
    border-radius: 0.25rem;
    width: 15.5rem;
}

#productImg {
    width: 100%;
    height: 15rem;
}

.priceQuantityContainer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding: 0.5rem;
}

.priceQuantity{
    display: flex;
    flex-direction: column;
    background-color: #d0d0d0;
    p {
        padding: 0 1rem
    }
}

// .priceQuantity p {
//     padding: 0 1rem;
// }

.productPrice{
    font-weight: bold;
}

@include media-mixin($laptop-breakpoint){
    .productCard {
        width:  calc((100% - (6 * 0.5rem + 6 * 0.5rem + 6 * 0.125rem)) / 3);
    }
    #productImg {
        height: 18.75rem;
    }
}
// @media (max-width: 72rem) {         /*ipad pro/laptop: 1024*/
//     .productCard {
//         width:  calc((100% - (6 * 0.5rem + 6 * 0.5rem + 6 * 0.125rem)) / 3);
//     }
//     #productImg {
//         height: 18.75rem;
//     }
// }

@include media-mixin ($ipad-breakpoint){
    .productCard {
        width:  calc((100% - (4 * 0.5rem + 4 * 0.5rem + 4 * 0.125rem)) / 2);
         /* 2cards=4spaces
        (100% - (4 * margin  + 4 * padding + 4 * border)) / number of cards per row */
    }
    #productImg {
        height: 20rem;
    }
}

// @media (max-width: 48rem) {         /*ipad: 768*/
//     .productCard {
//         width:  calc((100% - (4 * 0.5rem + 4 * 0.5rem + 4 * 0.125rem)) / 2);
//         /* 2cards=4spaces
//        (100% - (4 * margin  + 4 * padding + 4 * border)) / number of cards per row */
//     }
//     #productImg {
//         height: 20rem;
//     }
// }

@include media-mixin ($mobile-breakpoint){
    .productCard {
         width: 100%;
    }
}

// @media (max-width: 30rem) {         /*mobile-screen: pixel2, iphone  678 plus*/
//     .productCard {
//         width: 100%;
//     }
// }
