.basket-msg {
    font-size: x-large;
    margin: 2rem;
}

.basket-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%; 
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

.basket-table td, .basket-table th {
    padding: 8px;
}

.basket-table th {
    background-color: gray;
    padding: 1rem;
}

.category {
    background-color: lightgray;
}

.items-align{
    text-align: center;
}

.total-card{
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 0.125rem solid lightgray;
    margin: 2rem;
}

.total-amount{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: larger;
    font-weight: 500;
}

.total-amount hr{
    margin-right: 1rem;
}

.horizontal-line{
    margin: 0 1rem;
}

.checkout-btn{
    display: flex;
    justify-content: flex-end;
}

.checkout-btn button{
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 0rem 0rem 0.25rem #9a9a9a;
    background-color: lightgoldenrodyellow;
}

.total-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2rem 0;
}

.continue-shopping{
    display: flex;
    align-items: flex-end;
}

.continue-shopping  button {
    margin: 2rem;
    box-shadow: 0rem 0rem 0.25rem #9a9a9a;
    padding: 0.75rem;
}

@media (max-width: 30rem) {          /*mobile-screen: pixel2, iphone  678 plus*/
    .basket-table{
     /*makes it possible to have scrollbars. By default (and unlike tables), blocks span the full width of the parent element. This can be prevented with max-width: fit-content;, which allows you to still horizontally center tables with less content*/
        display: block;         /*these two for horizontally scrollable tables*/
        max-width: fit-content;
    }
}