.product{
    border: 0.125em solid black;
    padding: 0.5em;
    margin: 1em;
}

.product img{
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
}

.container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding: 0.5em;
}

